
<div class="row">
    <div class="col-md-4 mt-4">
        <label class="mb-2 text-info">Find by Category, Name and Shelf</label>
        <form asp-action="FindByOption" asp-controller="Products" method="get">
            <div class="input-group mb-4">
                <input type="text" name="findOption" class="form-control" placeholder="Search product" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Enter</button>
                </div>
            </div>
       </form>
    </div>
</div>
