@model IEnumerable<Storage.Models.ProductViewModel>

@{
    ViewData["Title"] = "ProductList";
}

<h1>Product Store</h1>

<partial name="_Productlist"></partial>


<partial name="_ProductFinder"></partial>

<partial name="_ProductFinderAjax"></partial>

<partial name="_ProductResult"></partial>

    @section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}